/*
* Fonts
*/

@import 'https://fonts.googleapis.com/css?family=Exo|Titillium+Web:400,700';

/*
* Reset
*/

@import 'reset.css';

/*
* Main
*/

body {
    background: #ecf0f1;
}

nav {
    float: left;
    width: 300px;
    height: 100%;
    background: #fff;
}

nav > .logo {
	height: 100px;
	line-height: 100px;
	text-align: center;
}

nav > .logo a {
	display: block;
	font-size: 50px;
	font-family: 'Titillium Web';
    text-decoration: none;
    color: #fff;
    background: #e74c3c;
}

nav > .widget {
    width: 270px;
    margin: 0 auto;
    padding: 13px 0;
    border-bottom: 1px solid #ddd;
}

.navigation-menu {
    list-style-type: none;
}

.navigation-menu li {
    text-indent: 10px;
    margin-bottom: 1px;
}

.navigation-menu li a {
    color: #e74c3c;
    display: block;
    padding: 6px 0;
    text-decoration: none;
    font-family: 'Titillium Web';
    border-radius: 2px;
}

.navigation-menu li.active a,
.navigation-menu li a:hover {
    color: #fff;
    background: #e74c3c;
}

nav > .bottom {
    padding: 10px;
    text-align: center;
    color: #fff;
    background: #e74c3c;
}

.wrapper {
	color: #4a4a4a;
	font-family: 'Titillium Web';
	margin-left: 300px;
}

header > .top {
	background: #c0392b;
	height: 100px;
}

header > .bottom {
	line-height: 30px;
	background: #fff;
}

header > .top .page-title {
	max-width: 400px;
	margin: 0 20px;
	line-height: 100px;
	font-size: 30px;
	color: #fff;
	float: left;
	font-family: 'Exo';
}

.breadcrumb {
	margin-bottom: 10px;
}

.breadcrumb li a {
	color: #acb0b1;
	text-decoration: none;
	display: inline-block;
	font-family: 'Titillium Web';
	font-size: 16px;
}

.breadcrumb li a:hover {
	color: #868686;
}

/*
* Constants
*/

/* -- Custom panel -- */

.panel-custom {
	border: none;
}

.panel-custom > .panel-heading {
	background: #f6f6f6;
}

.panel-custom > .panel-heading > .panel-title {
	color: #656565;
	text-transform: uppercase;
	font-size: 15px;
}

/*
* Homepage
*/

/* -- Status textarea style --  */

#status_form .panel-footer {
	padding: 0;
	border: 0;
}

#status_form #submit_status {
	border-radius: 0;
	float: right;
}

#status_form .form-group {
	margin: 0;
}

#status_form .form-control {
	border: 0;
	border-radius: 0;
	overflow: hidden;
	resize: none;
}

/* -- Statuses -- */

#statuses .status-item {
	margin-bottom: 10px;
}

#statuses .status-item .status-info {
	padding: 10px;
	background: #f6f6f6;
}

#statuses .status-item .status-info .avatar {
	float: left;
	margin-right: 5px;
}

#statuses .status-item .status-info .avatar img {
	border-radius: 5px;
}

#statuses .status-item .status-info > .body {
	float: left;
	margin-top: 5px;
}

#statuses .status-item .status-info > .body .status-meta {
	list-style-type: none;
	margin-top: 3px;
}

#statuses .status-item .status-info > .body .status-meta li {
	float: left;
	margin-right: 5px;
}

#statuses .status-item .status-info > .body .status-meta li+li:before {
	color: #ccc;
	content: "-";
}

#statuses .status-item .status-info > .body .status-meta li a {
	color: #afafaf;
	font-size: 14px;
}

#statuses .status-item > .status-body {
	padding: 10px;
	background: #fff;
}

#statuses .status-item > .status-body .status-media {
	margin-top: 10px;
	text-align: center;
	background: black;
}

#statuses .status-item > .status-body .status-media iframe {
	width: 100%;
	height: 400px;
}

/* -- List group user --  */

.list-group-user {
	list-style-type: none;
}

.list-group-user-item {
	border-bottom: 1px solid rgba(0, 0, 0, .06);
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.list-group-user-item:last-child {
	margin: 0;
	padding: 0;
	border: 0;
}

.list-group-user-item .avatar {
	float: left;
	margin-right: 5px;
}

.list-group-user-item .content {
	float: left;
}

.list-group-user-item .content .body {
	margin-top: 5px;
}