/*
* Fonts
*/

@import 'https://fonts.googleapis.com/css?family=Exo|Titillium+Web:400,700';

/*
* Main
*/

body {
	overflow-x: hidden;
    background: #ecf0f1;
}

nav {
    width: 300px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background: #fff;
    transition: right 300ms;
}

nav > .logo {
	height: 100px;
	line-height: 100px;
	text-align: center;
}

nav > .logo a {
	display: block;
	font-size: 50px;
    text-decoration: none;
    color: #fff;
    background: #e74c3c;
    font-family: 'Exo';
}

nav > .widget {
    width: 270px;
    margin: 0 auto;
    padding: 13px 0;
    border-bottom: 1px solid #ddd;
}

.navigation-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-menu li {
    text-indent: 10px;
    margin-bottom: 1px;
}

.navigation-menu li a {
    color: #e74c3c;
    display: block;
    padding: 6px 0;
    text-decoration: none;
    border-radius: 2px;
}

.navigation-menu li.active a,
.navigation-menu li a:hover {
    color: #fff;
    background: #e74c3c;
}

nav > .bottom {
    padding: 10px;
    text-align: center;
    color: #fff;
    background: #e74c3c;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.wrapper {
	color: #4a4a4a;
	margin-left: 300px;
}

header > .top {
	padding: 25px 0;
	background: #c0392b;
	height: 100px;
}

header > .bottom {
	line-height: 30px;
	background: #fff;
}

header > .top .page-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0 20px;
	font-size: 30px;
	color: #fff;
	float: left;
	font-family: 'Titillium Web', arial;
}

header .pull-right > .header-item {
	float: left;
	color: #fff;
	background: #ab382c;
	margin: -25px 0;
	padding: 31px 10px;
	transition: background 100ms;
}

header .pull-right > .header-item:hover {
	background: #ab0909;
}

header .pull-right > .header-item #mobileMenu {
	color: #fff;
	display: block;
	border: 0;
	border-radius: 0;
	outline: 0;
}

.breadcrumb {
	overflow: hidden;
	background: #f5f5f5;
	margin-bottom: 0;
	font-size: 16px;
	font-family: 'Titillium Web', arial;
}

.breadcrumb li a {
	color: #acb0b1;
	text-decoration: none;
	display: inline-block;
}

.breadcrumb li a:hover {
	color: #868686;
}

.container-fluid {
	padding: 10px 15px;
}

/*
* Responsive
*/

@media (max-width: 991px) {
	nav {
		right: -300px;
		left: unset;
	}

	.wrapper {
		margin-left: 0;
	}

	header > .top .page-title {
		max-width: 600px;
	}

	body.dark:after {
		content: "";
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
		background: rgba(0, 0, 0, .30);
	}
}

@media (max-width: 767px) {
	header > .top .page-title {
		max-width: 300px;
	}
}

@media (max-width: 543px) {
	header > .top .page-title {
		max-width: 250px;
	}
}

@media (max-width: 360px) {
	header > .top .page-title {
		max-width: 200px;
		font-size: 20px;
		margin-top: 10px;
	}
}

/*
* Constants
*/

/* -- Bootstrap Outline Button -- */

.btn {
	outline: 0 !important;
	transition: color 100ms, background 100ms;
	-webkit-transition: color 100ms, background 100ms;
}

/* -- Loading -- */

.loading {
	position: relative;
}

.loading:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .50);
}

/*.loading:after {
	content: "\f1ce";
	font-family: 'FontAwesome';
	-webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
	font-size: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -10px;
	margin-left: -10px;
}*/

/*
* Homepage
*/

/* -- Status textarea style --  */

#status_form .card-block {
	padding: 0;
}

#status_form .card-footer {
	padding: 0;
	border: 0;
}

#status_form .form-group {
	margin: 0;
}

#status_form .form-control {
	border: 0;
	border-radius: 0;
	overflow: hidden;
	resize: none;
}

#status_form .btn {
	border-radius: 0;
	float: right;
}

/* -- Statuses -- */

#statuses .status-item {
	margin-bottom: 10px;
}

#statuses .status-item .status-info {
	padding: 7px;
	background: #f6f6f6;
}

#statuses .status-item .status-info .avatar {
	float: left;
	margin-right: 5px;
	height: 40px;
}

#statuses .status-item .status-info > .body {
	float: left;
}

#statuses .status-item .status-info > .body .status-meta {
	line-height: 1;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#statuses .status-item .status-info > .body .status-meta li {
	float: left;
	margin-right: 5px;
}

#statuses .status-item .status-info > .body .status-meta li + li:before {
	color: #ccc;
	content: "-";
}

#statuses .status-item .status-info > .body .status-meta li a {
	color: #afafaf;
	font-size: 14px;
}

#statuses .status-item > .status-body {
	padding: 10px;
	font-family: arial;
	background: #fff;
}

#statuses .status-item > .status-body .status-media {
	margin-top: 10px;
	text-align: center;
	background: black;
}

#statuses .status-item > .status-body .status-media iframe {
	width: 100%;
	height: 400px;
}

#statuses .status-item > .status-footer .status-meta {
	list-style-type: none;
	background: #fff;
	padding: 0 10px 10px 10px;
	margin: 0;
}

#statuses .status-item > .status-footer .status-meta li {
	color: #9f9f9f;
	margin-right: 10px;
	float: left;
}

#statuses .status-item > .status-footer .status-actions {
	background: #f6f6f6;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-top: 1px solid rgba(0, 0, 0, .05);
	border-bottom: 1px solid rgba(0, 0, 0, .08);
}

#statuses .status-item > .status-footer .status-actions li {
	float: left;
	border-right: 1px solid rgba(0, 0, 0, .05);
}

#statuses .status-item > .status-footer .status-actions li .btn {
	border: 0;
	border-radius: 0;
}

#statuses .status-item .status-post-comment {
	display: none;
	padding: 10px 10px 0 10px;
	background: #f9f9f9;
}

#statuses .status-item .status-post-comment .avatar {
	float: left;
	height: 40px;
}

#statuses .status-item .status-post-comment .comment {
	margin-left: 40px;
}

#statuses .status-item .status-post-comment .comment .form-control {
	height: 40px;
	border-radius: 0;
	border-left: 0;
}

#statuses .status-item > .status-comments {
	display: none;
	background: #f9f9f9;
	padding: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, .08);
}

#statuses .status-item > .status-comments .comment-item {
	margin-bottom: 5px;
}

#statuses .status-item > .status-comments .comment-item .avatar {
	float: left;
}

#statuses .status-item > .status-comments .comment-item .content {
	margin-left: 45px;
	font-family: arial;
	font-size: 14px;
}

#statuses .status-item > .status-comments .comment-item .content .comment {
	color: #656565;
}

#statuses .status-item > .status-comments .comment-item .meta {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#statuses .status-item > .status-comments .comment-item .meta li {
	float: left;
	color: #afafaf;
}

#statuses .status-item > .status-comments .comment-item .meta li.action-comment-like-counter {
	color: #0275d8;
}

#statuses .status-item > .status-comments .comment-item .meta li + li:before {
	content: "-";
	margin: 0 5px;
}

#statuses .status-item > .status-comments .comment-item .content > .status-post-comment {
	margin-top: 5px;
	padding: 0;
}

#statuses .status-item > .status-comments .comment-item .content > .status-post-comment .avatar {
	height: 35px;
}

#statuses .status-item > .status-comments .comment-item .content > .status-post-comment .comment {
	margin-left: 35px;
}

#statuses .status-item > .status-comments .comment-item .content > .status-post-comment .comment .form-control {
	height: 35px;
	padding: 6px 5px;
}

#statuses .status-item > .status-comments .comment-item .content > .sub-comments {
	margin: 10px 0;
	display: none;
}

#statuses .status-item > .status-comments .comment-item .content > .sub-comments .comment-item {
	margin: 10px 0;
}

#statuses .status-item > .status-comments .comment-item .content > .sub-comments .comment-item .content {
	margin-left: 40px;
}

#statuses .status-item > .status-comments .comment-item .content > .sub-comments .comment-item .content .meta {
	font-size: 13px;
	margin-top: -2px;
}

/* -- List group user --  */

.list-group-user {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.list-group-user-item {
	margin-bottom: 7px;
	padding-bottom: 7px;
}

.list-group-user-item.inline {
	padding-left: 15px !important;
	margin-bottom: 0 !important;
}

.list-group-user-item:last-child {
	margin: 0;
	padding: 0;
}

.list-group-user-item .avatar {
	float: left;
	margin-right: 5px;
	width: 40px;
	height: 40px;
	overflow: hidden;
}

.list-group-user-item .avatar img {
	width: 40px;
	height: 40px;
}


.list-group-user-item .content {
	line-height: 1.2;
	float: left;
}

/*
* Profile Page
*/

/* -- User Profile Card -- */

#user-profile-card {
	margin-bottom: 10px;
}

#user-profile-card .card-cover:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .30);
}

#user-profile-card .card-cover {
	height: 140px;
	overflow: hidden;
	position: relative;
}

#user-profile-card .card-cover img {
	width: 100%;
}

#user-profile-card .card-content {
	margin-top: 25px;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}

#user-profile-card .card-content .left {
	text-align: center;
	margin-left: 50px;
	float: left;
}

#user-profile-card .card-content .right {
	float: right;
	margin-top: 30px;
	margin-right: 50px;
}

#user-profile-card .card-content .avatar {
	margin-bottom: 5px;
}

#user-profile-card .card-content .avatar img {
	border-radius: 100%;
	border: 3px solid #fff;
}

#user-profile-card .card-content .title {
	color: #fff;
	font-weight: bold;
	font-size: 17px;
}

#user-profile-card .card-content .right button {
	display: block;
	margin-bottom: 5px;
}

#user-profile-card .card-content .right button i {
	margin-right: 2px;
}

#user-profile-card .card-footer {
	color: #646464;
	background: #fff;
	font-size: 15px;
	padding: 0;
}

#user-profile-card .card-footer .top {
	padding: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, .10);
}

#user-profile-card .card-footer .bottom {
	padding: 15px;
}

/* -- Stats -- */

#game-stats .card-block {
	padding: 0;
}

.stats-section {
	width: 100%;
	background: #fdfdfd;
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid rgba(0, 0, 0, .07);
	border-right: 1px solid rgba(0, 0, 0, .07);
}

.stats-inline .stats-section {
	float: left;
	width: 50%;
}

.stats-section span {
	display: block;
	text-transform: uppercase;
	color: #919191;
	margin-bottom: 3px;
	font-size: 14px;
}

.stats-section a {
	display: block;
	text-decoration: none;
	color: #333;
	margin: -10px;
	padding: 10px;
	transition: color 100ms, background 100ms;
}

.stats-section a:hover {
	background: #eeeeee;
}

/*
* Upgrade Account Page
*/

/* -- Cards -- */

#groupCards .list-group-item .pull-right {
	display: none;
	margin-right: 10px;
}

#groupCards .list-group-item:hover .pull-right {
	display: block;
}