.button-bottom {
  background: white;
  color: #fff;
  background: #21ba45;
  margin: 10px -21px -11px -21px;
  padding: 5px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 12px;
  font-family: 'Titillium Web';
  font-weight: normal;
}

.user-balance {
  margin-top: 5px;
}

.user-balance li {
  margin-right: 0 !important;
}

.user-balance li span {
  float: right;
}

.ui.input.error textarea {
    background-color: #fff6f6;
    border-color: #e0b4b4;
    color: #db2828;
    box-shadow: none;
}

.field label {
  cursor: pointer !important;
}